In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

plt.rcParams["figure.figsize"] = (30,5)

In [2]:
gss = pd.read_csv('gss_bayes.csv', index_col = 0)

#### Proporção de banqueiros

In [3]:
banker = (gss['indus10'] == 6870)

In [4]:
banker.mean()  #Probabiliidade

0.014769730168391155

In [6]:
#Forma mais dificil, o sum pega o total de banqueiros
banker.sum() / gss.shape[0]

0.014769730168391155

#### Proporção de mulheres

In [7]:
female = (gss['sex'] == 2)

In [8]:
female.mean()

0.5378575776019476

#### Proporção de Liberais

In [9]:
liberal = (gss['polviews'] <= 3)

In [10]:
liberal.mean()

0.27374721038750255

#### Proporção de Democrata

In [11]:
democrat = (gss['partyid'] <= 1)

In [12]:
democrat.mean()

0.3662609048488537

### Conjuction

In [13]:
(female & banker).mean()

0.011381618989653074

### Conditional Probability

In [14]:
female[banker].mean()

0.7706043956043956

In [15]:
(liberal & female)[banker].mean()

0.17307692307692307

### Teorema 1

In [16]:
female[banker].mean()

0.7706043956043956

In [17]:
(female & banker).mean() / banker.mean()

0.7706043956043956

### Teorema 2

In [18]:
(female & banker).mean()

0.011381618989653074

In [19]:
(banker).mean() * female[banker].mean()

0.011381618989653074

### Teorema 3

In [26]:
female[banker].mean()

0.7706043956043956

In [25]:
(liberal.mean() * banker[female].mean())/ banker.mean()

0.39220569234997205

### Ex 1-1

In [28]:
(female & banker).mean()

0.011381618989653074

In [29]:
(female & banker & liberal).mean()

0.002556299452221546

In [30]:
(female & banker & liberal & democrat).mean()

0.0012375735443294787

### Ex 1-2

In [32]:
liberal[democrat].mean()

0.3891320002215698

In [39]:
democrat[liberal].mean()

0.5206403320240125

### Ex 1-3

In [40]:
young = (gss['age'] < 30)
young.mean()

0.19435991073240008

In [41]:
old = (gss['age'] >= 65)
old.mean()

0.17328058429701765

In [43]:
conservative = (gss['polviews'] >= 5)
conservative.mean()

0.3419354838709677

In [45]:
(young & liberal).mean()

0.06579427875836884

In [47]:
liberal[young].mean()

0.338517745302714

In [49]:
(old & conservative).mean()

0.06701156421180766

In [50]:
old[conservative].mean()

0.19597721609113564

### StatsQuest Exemple
https://www.youtube.com/watch?v=_IgyaD7vOOA&ab_channel=StatQuestwithJoshStarmer

In [5]:
candy = [1,1,1,1,1,1,0,0,0,0,0,0,0,0]
soda =  [0,0,0,0,1,1,1,1,1,1,1,0,0,0]
dicto = {'candy':candy,'soda':soda}

df2 = pd.DataFrame(dicto)
df2

    candy  soda
0       1     0
1       1     0
2       1     0
3       1     0
4       1     1
5       1     1
6       0     1
7       0     1
8       0     1
9       0     1
10      0     1
11      0     0
12      0     0
13      0     0

In [6]:
#Contingency table
temp = pd.crosstab(df2.soda, df2.candy)
temp.sort_index(ascending=False, axis=0, inplace=True)
temp.sort_index(ascending=False, axis=1, inplace=True)

temp.index = 'Loves Soda', "Don't Loves Soda"
temp.columns = 'Loves Candy', "Don't Loves Candy"

#temp['Total'] = temp.sum(axis=1)
#temp.loc['Total'] = temp.sum(axis=0)
temp.round(2)

                  Loves Candy  Don't Loves Candy
Loves Soda                  2                  5
Don't Loves Soda            4                  3

In [7]:
temp = pd.crosstab(df2.soda, df2.candy, normalize=True)
temp.sort_index(ascending=False, axis=0, inplace=True)
temp.sort_index(ascending=False, axis=1, inplace=True)

temp.index = 'Loves Soda', "Don't Loves Soda"
temp.columns = 'Loves Candy', "Don't Loves Candy"

temp['Total'] = temp.sum(axis=1)
temp.loc['Total'] = temp.sum(axis=0)
temp.round(2)

                  Loves Candy  Don't Loves Candy  Total
Loves Soda               0.14               0.36    0.5
Don't Loves Soda         0.29               0.21    0.5
Total                    0.43               0.57    1.0

In [8]:
#Qual é a chance dele gostar de doce
round(df2.candy.mean(),2)

0.43

In [9]:
#Qual a chance dele gostar de soda
round(df2.soda.mean(),2)

0.5

In [5]:
#Qual a chance dele gostar dos dois
round((df2.candy & df2.soda).mean(),2)

0.14

In [25]:
#Qual a chance dele gostar de um ou outro?
round((df2.candy | df2.soda).mean(),2)

0.79

In [117]:
#Qual a chance dele gostar de nenhum?
round(1 - (df2.candy | df2.soda).mean(),2)

0.21

In [123]:
#Qual a chance dele gostar de doce, dado que ele gosta de soda
round(df2[df2.soda == 1].candy.mean(),2)

0.29

In [125]:
#Qual a chance dele não gostar de doce, dado que ele gosta de soda
round(1 - df2[df2.soda == 1].candy.mean(),2)

0.71

In [10]:
#Qual a chance dele não gostar de soda, dado que ele gosta de doce
round(1 - df2[df2.candy == 1].soda.mean(),2)

0.67