# Distribuições

Pmf = Probability mass function, a vantagem de caclular assim é que ele é bem mais esscalavel que os casos anteriores.

Distribuições: Um conjunto de outcomes e sua probabilidade de ocorrer.

In [3]:
from empiricaldist  import Pmf
import pandas as pd
import numpy as np

#### Criando um Pmf de um flip de moeda na mão

In [40]:
coin = Pmf()
coin['heads'] = 0.5
coin['tails'] = 1/2
coin

heads    0.5
tails    0.5
Name: , dtype: float64

#### Criando um Pmf de um dado de 6 lados e depois de 20

In [4]:
d6 = Pmf.from_seq([1,2,3,4,5,6])
d6

1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
Name: , dtype: float64

In [57]:
#A chance de acertar no Eldrith normal
d6([5,6]).sum()

0.3333333333333333

In [58]:
#A chance de acertar sendo abençoado
d6([4,5,6]).sum()

0.5

In [5]:
d20 = Pmf.from_seq(range(1,21))
d20

1     0.05
2     0.05
3     0.05
4     0.05
5     0.05
6     0.05
7     0.05
8     0.05
9     0.05
10    0.05
11    0.05
12    0.05
13    0.05
14    0.05
15    0.05
16    0.05
17    0.05
18    0.05
19    0.05
20    0.05
Name: , dtype: float64

##### Qual a chance de rolar um 20?

In [46]:
d20[20]

0.05

#### Criando um Pmf de uma string

In [37]:
letters = Pmf.from_seq(list('Mississippi'))
letters

M    0.090909
i    0.363636
p    0.181818
s    0.363636
Name: , dtype: float64

#### Qual é a probabilidade de a letra ser i?

In [53]:
letters['i']

0.36363636363636365

#### Convertendo para um dataframe e ordenando por probabilidade

In [51]:
pd.DataFrame(letters.values, index=letters.index, columns=['probs']).sort_values('probs', ascending=False)

      probs
i  0.363636
s  0.363636
p  0.181818
M  0.090909

### Cookie problem
Suppose there are two bowls of cookies.

Bowl 1 contains 30 vanilla cookies and 10 chocolate cookies.

Bowl 2 contains 20 vanilla cookies and 20 chocolate cookies.

Now suppose you choose one of the bowls at random and, without looking, choose a cookie at random. If the cookie is vanilla, what is the probability that it came from Bowl 1?

In [59]:
prior = Pmf.from_seq(['Bowl 1', 'Bowl 2'])
prior

Bowl 1    0.5
Bowl 2    0.5
Name: , dtype: float64

In [64]:
likelihood_vanilla = [0.75, 0.5]
posterior = prior * likelihood_vanilla
posterior

Bowl 1    0.375
Bowl 2    0.250
Name: , dtype: float64

In [65]:
posterior.normalize()

0.625

In [66]:
posterior

Bowl 1    0.6
Bowl 2    0.4
Name: , dtype: float64

In [4]:
#101 bowls

In [5]:
hypos = np.arange(101)

In [17]:
prior = Pmf(1, hypos) #Adiciona 1 a cada valor da range

In [18]:
prior.normalize()

101

In [20]:
likelihood_vanilla = hypos/100

In [21]:
posterior1 = prior * likelihood_vanilla
posterior1.normalize()
posterior1.head()

0    0.000000
1    0.000198
2    0.000396
Name: , dtype: float64

### Dice problem

In [24]:
hypos = [6, 8, 12]
prior = Pmf(1/3, hypos)

In [37]:
#Chance de rolar 1
likelihood = [1/6,1/8,1/12]
posterior = prior * likelihood
posterior.normalize()
posterior

6     0.444444
8     0.333333
12    0.222222
Name: , dtype: float64

In [36]:
#Chance de rolar 8
likelihood = 0, 1/8, 1/12
posterior = prior * likelihood
posterior.normalize() 
posterior

6     0.0
8     0.6
12    0.4
Name: , dtype: float64

In [38]:
def update_dice(pmf, data):
    """Update pmf based on new data."""
    hypos = pmf.qs
    likelihood = 1 / hypos
    impossible = (data > hypos)
    likelihood[impossible] = 0
    pmf *= likelihood
    pmf.normalize()

In [ ]:
update_dice()